.father{
    width: 60%;
    height: 50px;
    background-color: chartreuse;
    margin-bottom: 40px;
    margin: auto;
    padding-top: 10px;  
}
.mother{
    width:60%;
    height: 200px;
    background-color: pink;
    margin: auto;
    margin-top: 60px;

}
.sister{
    width: 60%;
    height: 200px;
    background-color:darkgrey;
    margin: auto;
    margin-top: 60px;
}
.cousin{
    width: 60%;
    height: 50px;
    background-color: yellow;
    margin: auto;
    margin-top: 100px;
}

    


